<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21165584603-dg1gm4e8gf0omfq76436ph3ue5s6n73s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21165584603-dg1gm4e8gf0omfq76436ph3ue5s6n73s</string>
	<key>API_KEY</key>
	<string>AIzaSyC0NHOTRWhUq0je4z_bqD7CrCUZBNbUD9k</string>
	<key>GCM_SENDER_ID</key>
	<string>21165584603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jazsley.portfolio</string>
	<key>PROJECT_ID</key>
	<string>jazsley-s-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>jazsley-s-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21165584603:ios:9e4efd5a2618c509065cfe</string>
</dict>
</plist>